In [152]:
import numpy as np
import pandas as pd

In [153]:
df = pd.read_csv('imdb_top_1000.csv')

In [154]:
df_movies = df[['Series_Title','Genre','Overview','Star1','Star2','Star3','Poster_Link']]

In [155]:
# Joining string by removing space 
col = ['Star1','Star2','Star3']
for i in col:
 df_movies[i]= df_movies[i].apply(lambda x : x.replace(' ',''))

C:\Users\vipin\AppData\Local\Temp\ipykernel_25720\3777830501.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies[i]= df_movies[i].apply(lambda x : x.replace(' ',''))

In [156]:
df_movies

,Series_Title,Genre,Overview,Star1,Star2,Star3,Poster_Link
0,The Shawshank Redemption,Drama,Two imprisoned men bond over a number of years...,TimRobbins,MorganFreeman,BobGunton,https://m.media-amazon.com/images/M/MV5BMDFkYT...
1,The Godfather,"Crime, Drama",An organized crime dynasty's aging patriarch t...,MarlonBrando,AlPacino,JamesCaan,https://m.media-amazon.com/images/M/MV5BM2MyNj...
2,The Dark Knight,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,ChristianBale,HeathLedger,AaronEckhart,https://m.media-amazon.com/images/M/MV5BMTMxNT...
3,The Godfather: Part II,"Crime, Drama",The early life and career of Vito Corleone in ...,AlPacino,RobertDeNiro,RobertDuvall,https://m.media-amazon.com/images/M/MV5BMWMwMG...
4,12 Angry Men,"Crime, Drama",A jury holdout attempts to prevent a miscarria...,HenryFonda,LeeJ.Cobb,MartinBalsam,https://m.media-amazon.com/images/M/MV5BMWU4N2...
...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,"Comedy, Drama, Romance",A young New York socialite becomes interested ...,AudreyHepburn,GeorgePeppard,PatriciaNeal,https://m.media-amazon.com/images/M/MV5BNGEwMT...
996,Giant,"Drama, Western",Sprawling epic covering the life of a Texas ca...,ElizabethTaylor,RockHudson,JamesDean,https://m.media-amazon.com/images/M/MV5BODk3Yj...
997,From Here to Eternity,"Drama, Romance, War","In Hawaii in 1941, a private is cruelly punish...",BurtLancaster,MontgomeryClift,DeborahKerr,https://m.media-amazon.com/images/M/MV5BM2U3Yz...
998,Lifeboat,"Drama, War",Several survivors of a torpedoed merchant ship...,TallulahBankhead,JohnHodiak,WalterSlezak,https://m.media-amazon.com/images/M/MV5BZTBmMj...
999,The 39 Steps,"Crime, Mystery, Thriller",A man in London tries to help a counter-espion...,RobertDonat,MadeleineCarroll,LucieMannheim,https://m.media-amazon.com/images/M/MV5BMTY5OD...

In [160]:
df_movies['Overview']

0      Two imprisoned men bond over a number of years...
1      An organized crime dynasty's aging patriarch t...
2      When the menace known as the Joker wreaks havo...
3      The early life and career of Vito Corleone in ...
4      A jury holdout attempts to prevent a miscarria...
                             ...
995    A young New York socialite becomes interested ...
996    Sprawling epic covering the life of a Texas ca...
997    In Hawaii in 1941, a private is cruelly punish...
998    Several survivors of a torpedoed merchant ship...
999    A man in London tries to help a counter-espion...
Name: Overview, Length: 1000, dtype: object

In [159]:
df_movies['Overview'].apply(lambda x :"".join(x))

0      Two imprisoned men bond over a number of years...
1      An organized crime dynasty's aging patriarch t...
2      When the menace known as the Joker wreaks havo...
3      The early life and career of Vito Corleone in ...
4      A jury holdout attempts to prevent a miscarria...
                             ...
995    A young New York socialite becomes interested ...
996    Sprawling epic covering the life of a Texas ca...
997    In Hawaii in 1941, a private is cruelly punish...
998    Several survivors of a torpedoed merchant ship...
999    A man in London tries to help a counter-espion...
Name: Overview, Length: 1000, dtype: object

In [108]:
import re
#df_movies['Overview'] = df_movies['Overview'].apply(lambda x :"".join(x))

C:\Users\vipin\AppData\Local\Temp\ipykernel_25720\1842941325.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['Overview'] = df_movies['Overview'].apply(lambda x :"".join(x))

In [161]:
df_movies["Tags"] = df_movies['Overview'] + " " + df_movies['Genre'] + ' ' + \
                   df_movies['Star1'] +' ' + df_movies['Star2'] + ' ' + df_movies['Star3']

C:\Users\vipin\AppData\Local\Temp\ipykernel_25720\2869088996.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies["Tags"] = df_movies['Overview'] + " " + df_movies['Genre'] + ' ' + \

In [162]:
df_movies['Tags'] = df_movies['Tags'].apply(lambda x : re.sub(r'[^a-zA-Z\s]','',x))

C:\Users\vipin\AppData\Local\Temp\ipykernel_25720\3121106068.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['Tags'] = df_movies['Tags'].apply(lambda x : re.sub(r'[^a-zA-Z\s]','',x))

In [163]:
df_movies['Tags'][5]

'Gandalf and Aragorn lead the World of Men against Saurons army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring Action Adventure Drama ElijahWood ViggoMortensen IanMcKellen'

In [164]:
df_movies.drop(columns = ['Genre','Overview','Star1','Star2','Star3'],inplace = True)

C:\Users\vipin\AppData\Local\Temp\ipykernel_25720\2415882488.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies.drop(columns = ['Genre','Overview','Star1','Star2','Star3'],inplace = True)

In [165]:
df_movies

,Series_Title,Poster_Link,Tags
0,The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,Two imprisoned men bond over a number of years...
1,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,An organized crime dynastys aging patriarch tr...
2,The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,When the menace known as the Joker wreaks havo...
3,The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The early life and career of Vito Corleone in ...
4,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,A jury holdout attempts to prevent a miscarria...
...,...,...,...
995,Breakfast at Tiffany's,https://m.media-amazon.com/images/M/MV5BNGEwMT...,A young New York socialite becomes interested ...
996,Giant,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Sprawling epic covering the life of a Texas ca...
997,From Here to Eternity,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,In Hawaii in a private is cruelly punished fo...
998,Lifeboat,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Several survivors of a torpedoed merchant ship...
999,The 39 Steps,https://m.media-amazon.com/images/M/MV5BMTY5OD...,A man in London tries to help a counterespiona...

In [181]:
from nltk.stem import PorterStemmer

In [167]:
def stemmer(text):
    y = []
    ps = PorterStemmer()
    for i in text.lower().split():
       y.append(ps.stem(i))
    return ' '.join(y)

In [169]:
df_movies['Tags'] = df_movies['Tags'].apply(stemmer)

C:\Users\vipin\AppData\Local\Temp\ipykernel_25720\2097967087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['Tags'] = df_movies['Tags'].apply(stemmer)

In [170]:
df_movies

,Series_Title,Poster_Link,Tags
0,The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,two imprison men bond over a number of year fi...
1,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,an organ crime dynasti age patriarch transfer ...
2,The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,when the menac known as the joker wreak havoc ...
3,The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,the earli life and career of vito corleon in s...
4,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,a juri holdout attempt to prevent a miscarriag...
...,...,...,...
995,Breakfast at Tiffany's,https://m.media-amazon.com/images/M/MV5BNGEwMT...,a young new york socialit becom interest in a ...
996,Giant,https://m.media-amazon.com/images/M/MV5BODk3Yj...,sprawl epic cover the life of a texa cattl ran...
997,From Here to Eternity,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,in hawaii in a privat is cruelli punish for no...
998,Lifeboat,https://m.media-amazon.com/images/M/MV5BZTBmMj...,sever survivor of a torpedo merchant ship in w...
999,The 39 Steps,https://m.media-amazon.com/images/M/MV5BMTY5OD...,a man in london tri to help a counterespionag ...

In [171]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000,stop_words='english')
     
vector = cv.fit_transform(df_movies['Tags']).toarray()

In [172]:
len(cv.get_feature_names_out())

1000

In [173]:
from sklearn.metrics.pairwise import cosine_similarity

In [174]:
cos_sim = cosine_similarity(vector)

In [175]:
cos_sim

array([[1.        , 0.08908708, 0.09245003, ..., 0.08333333, 0.08333333,
        0.        ],
       [0.08908708, 1.        , 0.37062466, ..., 0.33407655, 0.06681531,
        0.10101525],
       [0.09245003, 0.37062466, 1.        , ..., 0.20801257, 0.06933752,
        0.05241424],
       ...,
       [0.08333333, 0.33407655, 0.20801257, ..., 1.        , 0.1875    ,
        0.        ],
       [0.08333333, 0.06681531, 0.06933752, ..., 0.1875    , 1.        ,
        0.        ],
       [0.        , 0.10101525, 0.05241424, ..., 0.        , 0.        ,
        1.        ]], shape=(1000, 1000))

In [182]:
def recommend(movie):
    index = df_movies[df_movies['Series_Title'] == movie].index[0]
    distances = sorted(list(enumerate(cos_sim[index])), reverse=True, key=lambda x: x[1])
    recommended_movie_names = []
    recommended_movie_posters = []
    for i in distances[1:6]:
        recommended_movie_names.append(df_movies.iloc[i[0]].Series_Title)

    return recommended_movie_names #recommended_movie_posters

In [184]:
df_movies

,Series_Title,Poster_Link,Tags
0,The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,two imprison men bond over a number of year fi...
1,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,an organ crime dynasti age patriarch transfer ...
2,The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,when the menac known as the joker wreak havoc ...
3,The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,the earli life and career of vito corleon in s...
4,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,a juri holdout attempt to prevent a miscarriag...
...,...,...,...
995,Breakfast at Tiffany's,https://m.media-amazon.com/images/M/MV5BNGEwMT...,a young new york socialit becom interest in a ...
996,Giant,https://m.media-amazon.com/images/M/MV5BODk3Yj...,sprawl epic cover the life of a texa cattl ran...
997,From Here to Eternity,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,in hawaii in a privat is cruelli punish for no...
998,Lifeboat,https://m.media-amazon.com/images/M/MV5BZTBmMj...,sever survivor of a torpedo merchant ship in w...
999,The 39 Steps,https://m.media-amazon.com/images/M/MV5BMTY5OD...,a man in london tri to help a counterespionag ...

In [186]:
recommend('Giant')

['Paris, Texas',
 'Sound of Metal',
 'Malcolm X',
 'Diarios de motocicleta',
 'The Butterfly Effect']

In [670]:
import pickle
pickle.dump(df_movies,open('movie_list.pkl','wb'))
pickle.dump(cos_sim,open('similarity.pkl','wb'))